*{
    margin : 0;
    padding : 0;
}
.Header{
    width : 1061px;
    width : 100%;
    height: 80px;
    
    
}
.Headermodel > img  { 
    position : absolute;
    width : 188px;
    height: 60px;
    
}

input {
    font-size: 15px;
    border-style: solid;
    border-width : 3px;
    transform: translate(150%, 75%);
    border-radius: 4px;
    
}

button{
    font-size: 15px;
    border : none;
    background-color: white;
    color: rgb(27, 26, 26);
    padding : 0 30px;
    
}

button #Headerbuttonone{
    transform: translate(160%, 60%);
}



.Headerbar {
    text-decoration: none;
    border:none;
    color:aqua;
    
}