*{   
    margin : 0;
    padding : 0; 
}

.Header{
    width : 1061px;
    width : 100%;
    height: 80px;
    margin-left: auto;
}

.Headermodel > img  { 
    position : absolute;
    width : 210px;
    height: 80px;
}


input {
    padding: 10px 10px;
    font-size: 20px;
    border-style: solid;
    border-width : 3px;
    border-radius: 4%;
    
    margin-top: 18px;
}

button{
    font-size: 20px;
    border : none;
    background-color: white;
    color: rgb(27, 26, 26);
    padding : 0 30px;
}
 


.Headerbar {
    text-decoration: none;
    border:none;
    color:aqua;
    text-align: center;
    display :inline-block;
}