*{
  text-align:center;
}
.bannerImage > img{
    position : relative;
    width : 1550px;
    height: 600px;
    
  }
#TopBanner {
    width: 60%;
    justify-content: center;
}
  
  
  #SecondBanner {
    cursor: pointer;
    
  }
  

  .product-container {
    margin: 10px;
    text-align: center;
   
  }
  


  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .productContainer {
    cursor: pointer;
    margin: 20px;
    padding: 30px;
    margin: auto;
    text-align: center;
}